name: Build & Push tzrec image to GHCR

on:
  push:
    branches: [ "mytest1_rankmodel" ]   # 如果你用 pepnet_rank_model 分支，就改成那个
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: tzrec-yvxuantest1_rankmodel
  TAG: 1.0-cu126

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}-${{ github.sha }}
